$block-space-big: 1.5rem;
$block-space-small: .5rem;
$block-space-default: 1rem;

$grid-gap: 3rem;
$grid-margin: 3rem;

// make large width a little bigger!
// $width-large: 1200px;

// custom font
// @import url('https://fonts.googleapis.com/css?family=Calistoga');
// $font-family-text: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
// $font-family-display: "Calistoga", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;


@import url('https://fonts.googleapis.com/css?family=Bellota+Text');
$font-family-text: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-family-display: "Bellota Text", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;


// @import url('https://fonts.googleapis.com/css?family=Overlok');
// $font-family-text: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
// $font-family-display: "Overlock", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// Blue theme
// $color-bright: #bd696c;
// $color-bright-secondary: #a9bb8e; // sage
// $color-bright-tertiary: #81a5c5; // blue
// $color-black: #d5d6d7;
// $color-white: #333336;
// $color-inverted: $color-black;



//light grey
// $color-bright-secondary: #547897;
// $color-bright-tertiary: #547897;
// $color-bright: #88996f; //sage
// $color-black: #3a3a45;
// $color-white: #ececef;
// $color-inverted: $color-black;

$color-bright: hsl(195, 100%, 89%); //sidebar links
$color-bright-secondary:  hsl(253, 100%, 91%); // name, body links
$color-bright-tertiary: $color-bright; // menu, divider bars
$color-black: #efefef;
$color-white: hsl(210, 13%, 33%);
$color-inverted: $color-black;

$color-bright: hsl(192, 78%, 66%); //sidebar links
$color-bright-secondary: hsl(41, 100%, 76%);  // name, body links hsl(106, 100%, 84%);
$color-bright-tertiary:  $color-bright; // menu, divider bars
$color-black: #efefef;
$color-white: hsl(216, 14%, 22%);
$color-inverted: $color-black;

// $color-bright: #820263; //purpler
// $color-bright-secondary: #d90368; // pinker
// $color-bright-tertiary: #20b1c1; // teal
// $color-black: #2c274c;
// $color-white: #f9f6f9;
// $color-inverted: $color-white;

//solarized
// $color-bright: #268bd2; //blue
// $color-bright-secondary: #d33682; // magenta
// $color-bright-tertiary: #6c71c4; // violet
// $color-black: #3d3c47;
// $color-white: #faf6fa;
// $color-inverted: $color-white;

// $color-bright: #6dc7e0;
// $color-bright-secondary:  #4fa7bf; 
// $color-bright-tertiary: #ffa331; 
// $color-black: #e5e6e7;
// $color-white: #333336;
// $color-inverted: $color-black;

// Other colors

// $color-bright: #008cbf; //blue
// $color-bright: rgb(0, 149, 142);
// $color-bright: rgb(0, 139, 175);

// $color-bright-secondary:  rgb(255, 163, 49); // golden yellow

// $color-bright: #008f95; //teal
// $color-bright: #286da8; // cerulean blue
// $color-bright: #6c648b; // purple
// $color-bright: #3f3250; // navy 
// $color-bright: #465c8b;// brighter blue
// $color-bright: #01949A; // teal`
// $color-bright-secondary: #3f88c5;

// $color-bright-secondary: darkorchid;
// $color-bright-secondary: #cd5360; // greyish pink
// $color-bright-secondary: #ec576b; //pink
// $color-bright-secondary: #f24c4e; // brighter pink

//$color-bright-secondary: rgb(255, 163, 49); // golden yellow
// $color-bright: #DB1F48; // red

// $color-bright-tertiary: #ffcf00; // yellow



// Red Theme
// $color-bright: hsl(349, 100%, 55%); // red
// $color-bright-secondary: hsl(204, 86%, 53%); // bright blue
// $color-bright-secondary: rgb(0, 139, 175);

// 008cbf -- blue // hsl(196, 100%, 37.5%);
// bf008c -- pink
// d6009d -- pink 2 , brighter
// 8cbf00 -- green
// hsl(349, 100%, 55%) -- red
// hsl(204, 86%, 53%) -- another blue

// $color-bright-tertiary: #8cbf00; // green
// $color-bright-quad: #ffcf00; // yellow
// $color-bright-quad: #fff;



// =COLORS
// ---------------------------------------------------------------------------

// Grayscale
//$color-black: #111113;
//$color-black: #140f2d;
//$color-inverted: #fff;
//$color-white: #ffffff;

// Text
$color-text: $color-black;
$color-text-secondary: rgba($color-text, .8);
$color-text-tertiary: rgba($color-text, .6);

// Links
$color-link: $color-bright-secondary;
$color-link-hover: $color-bright;

// States
$color-error: $color-bright-secondary;
$color-success: #1fbc72 ;
$color-focus: $color-bright;

// Accent
$color-accent: $color-bright-tertiary;
$color-highlight: lighten($color-bright-tertiary, 30%);

$color-light-grey: lighten($color-black, 80%);

// Button
$color-button: $color-bright;

// Label
$color-label: $color-bright-secondary;

// font weights
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;


// Bigger Body Fonts
// $font-size-smaller: 0.875em;  // 14px
// $font-size-small: 1em;  // 16px
// $font-size-default: 1.125em; // 18px
// $font-size-big: 1.25em ; // 20px
// $font-size-large: 1.375em ; // 22px
// $font-size-ui: .9375em ; //.15px

// Smaller Header Fonts
 $headings-font-size-1: 2rem ; // 32
$headings-font-size-2: 1.875rem ; // 28
$headings-font-size-3: 1.5rem ; // 22
$headings-font-size-4: 1.125rem ; // 18
$headings-font-size-5: 1rem ; // 16
$headings-font-size-6: .75rem ; // 12

// Baseline
$headings-base-line: 1.5;

// Weight
$headings-font-weight: $font-weight-normal;



// body {
//      font-weight: $font-weight-normal;
//  }
//
// $headings-font-weight: $font-weight-bold ;
// $headings-font-weight: $font-weight-bold ;
// $blockquote-font-weight: $font-weight-normal ;
// $alert-font-weight: $font-weight-normal ;
// $form-legend-font-weight: $font-weight-bold ;
// $form-label-font-weight: $font-weight-normal ;
// $form-desc-font-weight: $font-weight-normal ;
// $form-req-font-weight: $font-weight-bold ;
// $input-default-font-weight: $font-weight-normal ;
// $input-append-font-weight: $font-weight-normal ;
// $button-default-font-weight: $font-weight-medium ;
// $button-secondary-font-weight: $font-weight-medium ;
// $button-tertiary-font-weight: $font-weight-medium ;
// $breadcrumb-font-weight: $font-weight-normal ;
// $dropdown-font-weight: $font-weight-normal ;
// $label-font-weight: $font-weight-medium ;
// $label-secondary-font-weight: $font-weight-medium ;
// $label-tertiary-font-weight: $font-weight-bold ;
// $message-font-weight: $font-weight-normal ;
// $modal-header-font-weight: $font-weight-bold ;
// $modal-footer-font-weight: $font-weight-normal ;
// $pager-font-weight: $font-weight-normal ;
// $table-head-font-weight: $font-weight-bold ;
// $table-caption-font-weight: $font-weight-bold ;
// $tabs-font-weight: $font-weight-normal ;
