
// General Layout
.is-navbar-container, .main-container, .footer-container  {
    padding: $block-space-default;
    @extend .is-width-large;
    @include not-mobile {
        padding: $block-space-default $block-space-big;
    }
    min-width: 0;
    margin: auto;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $color-bright-tertiary;
    padding: .2em 0;
}
main, footer {
    margin: 1px 0; //.2em 0;
    background: $color-white;
}
header {
    //background: $color-bright;
    //color: $color-white;
    background: $color-white;
    color: $color-bright;
}

.footnote-return {
    text-decoration: none;
    &::after {
        content: "\2934";
        vertical-align: top;
        font-size: .6em;
    }     	 
}

p+ol, p+ul {
    margin-top: -$block-space-small;
}

ul, ol {
    li {
        padding-left: $block-space-small;
    }
    ul, ol {
        margin-bottom: $block-space-small;
    }
}

ul {
    list-style-type: '→' ;
    ul {
    list-style-type: '⇾';
}
}

blockquote {
    font-style: normal;
    margin-left: $block-space-default;
}

p.pub-award, span.pub-award {
    color: $color-black;
    font-style: normal;
}

/// Warning block
.warning {
    background: $color-error;
    padding: $block-space-default;
    color: $color-white;
}


/// Handle long URLs - mostly show up in schedule



/// Headings 

h1.page-title {
    padding: $block-space-big 0;
    color: $color-bright-tertiary;
    font-family: $font-family-display;
}

.is-brand h1 {
    font-family: $font-family-display;
    text-transform: uppercase;
    font-weight: $font-weight-normal;
    color: $color-bright-secondary;
}

p+h2, ul+h2, p+h3 {
    padding-top: $block-space-big;
}

.card-header p + h3 {
    padding-top: 0;
}

h3, h4, h5, h6 {
    font-family: $font-family-display;
    //font-weight: $font-weight-bold;
}

h2 {
    font-family: $font-family-display;
}

//// Links 
.more-link {
    a {
        text-decoration: none;
        color: $color-bright;
        &:hover {
            color: $color-bright-secondary;
        }
    }
    text-align: right;
    font-size: $font-size-small;
}

a {
// Handle long URLs. Mostly for mobile / schedule pages, but crop up a few random places..
// via https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
/* These are technically the same, but use both */
overflow-wrap: break-word;
word-wrap: break-word;

-ms-word-break: break-all;
/* This is the dangerous one in WebKit, as it breaks things wherever */
word-break: break-all;
/* Instead use this non-standard one: */
word-break: break-word;
}


//// Menu / header
header {
    //background: lighten($color-highlight, 20%);
    padding-top: $block-space-big;
    padding-bottom: $block-space-big;
    color: $color-bright-tertiary;
}

.is-navbar-container {
    .is-brand h1 {
        margin: 0;
        padding: 0;
        font-weight: normal;
        line-height: 2.25rem;
        font-size: 2rem;
        }
    a, .nav-toggle:hover {
        text-decoration: none;
        color: inherit;
        font-weight: 300;
        font-family: $font-family-display;
    }
    a:hover {
        color: $color-bright-secondary;
    }
    li {
        a {
        letter-spacing: 1.5px;
        font-size: 1.15rem;
        text-transform: uppercase;
        @include for-mobile {
            padding-left: $block-space-default;
            margin-top: $block-space-small;
        }
        }
        &.is-active a  {
            font-weight: bold;
        }

    }
}

@include for-mobile {
    #navbar-main {
        padding-top: $block-space-big;
    }
}

.nav-toggle {
    font-size: 1.75rem;
    margin-top: 0;
}

///// Footer
footer {
    
    margin: auto;
   // margin-top: $block-space-big;

    .credits {
        margin-top: $block-space-big * 3;
        text-align: center;
        @extend .is-smaller;
        color: lighten($color-black, 20%);
        a {
            @extend .is-muted;
        }
    }
    h1 {
        margin: 0;
        padding: $block-space-small 0;
        
    }
}


////// cards (publications, classes, etc)

.card {
    display: flex;
    flex-direction: column;
    .card-divider {
        margin: 0;
        padding: 0;
        font-family: $font-family-display;
        line-height: .25em;
        color: $color-bright;
        font-size: 3rem;
    }
    .card-header {
        a {
            color: $color-bright;
            text-decoration: none;
        }
        margin-bottom: 1rem;
    }
    .card-footer{
        @extend .is-muted;
        font-style: italic;
    }
    &.with-margin {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.publication {
    p, .card-header {
        margin-top: 0;
        margin-bottom: 0;
    }
}



////// Class Pages + Pub Pages -- Sidebar
.sidebar {
    
    ul {
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
    }
    ul.fa-ul {
        margin-left: 1.75em;
    }
    li {
        margin-bottom: $block-space-small;
    }
    
    
    a {
        text-decoration: none;
        color: $color-bright;
        &:hover {
            color: $color-bright-secondary;
        }
    }
    h3, h3 a {
        
        color: $color-bright;
    }
    .fa-li {
        color: $color-bright;
    }
}


///// Publication Specifics

//////// Publication Card Footer
ul.pub-links {
    @extend .is-small;
    font-style: normal;
    a {
        text-decoration: none;
    }
    i {
        padding-right: .25em;
    }
    li {
        padding-left: 2px; // just move the icons over a little from the edge
    }
}

/////// Publication Page Sidebar
.pub-sidebar {
    .pub-authors { font-weight: $font-weight-bold; }
    .pub-info { font-style: italic; }
}



//// TOC navigation
#TableOfContents {
    ul ul // top level
    {
        font-weight: $font-weight-bold;
        li 
        { 
            margin-top: $block-space-default;
        }
        ul { // second level
            margin-top: 0;
            margin-left: $block-space-default;
            font-weight: $font-weight-normal;
            li {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
    
}

.design-project #TableOfContents { // design project page has differnet header levels
    ul // top level
    {
        font-weight: $font-weight-bold;
        li 
        { 
            margin-top: $block-space-default;
        }
        ul { // second level
            margin-top: 0;
            margin-left: $block-space-default;
            font-weight: $font-weight-normal;
            li {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
    
}

#toc-wrapper, #office-hours-menu, #class-menu {
    padding: $block-space-default
        $block-space-default
        0
        $block-space-default;
}

#class-menu {
    padding-top: 0;
}

#office-hours-menu, #toc-wrapper {
    border-top: solid 1px $color-light-grey;
    padding-top: $block-space-default;
    margin-top: $block-space-big;
}

//// Class Schedule
main .schedule .is-66 {
    
    p, h4, ul{
       background: lighten($color-white, 3%);
       padding: $block-space-small;
    }

    p {
        color: darken($color-bright-tertiary, 5%);
        margin: 0;
        //padding: $block-space-small;
        font-style: italic;
    }
    h4 {
        margin-top: $block-space-big;
        border-top: solid 1px $color-bright-tertiary;
        // padding: $block-space-small;
        font-weight: $font-weight-bold;
        // &::before{
        //     font-family: "Font Awesome 5 Pro";
        //     font-weight: 300;
        //     content: "\f63d";
        //     padding-right: .5em;
        // }
    }
    
    ul {
        
        font-weight: $font-weight-bold;
        list-style-type: none;
        margin: 0;
        padding: $block-space-big $block-space-big 0 $block-space-big;
        ul {
            list-style-type: square;
            font-weight: $font-weight-normal;
            padding-top: 0;
            padding-bottom: $block-space-big;
        }
        

    }
    
    h4.mentor {
        &::before{
            content: "\f086";
        }
    }
    
    h4.deadline-only {
        font-weight: $font-weight-normal;
        &::before{
            content: "\f34e";
        }
    }
    h4.deadline-only+ul {
        padding: $block-space-default;
        ul {
            padding-bottom: 0;
        }
    }

}


// screen size customizations: mobile
@include for-mobile {
    html{
        font-size: 95%;
    }
 }

// screen size customizations: large
@include not-mobile {

}

// Print Styles
@media print {
    header, footer, .sidebar {display: none;}
    .is-row {display: block;}
    html {font-size: .9em;}
    .is-row > .is-col.is-66, .is-66 { min-width: calc(80% - #{$grid-gap}); }
}

// Cascade Errors in Kube?
.is-row.is-gapless {
    margin-top: 0;
}