{{ define "main" }}
<h1 class="page-title">{{ .Page.Params.title }}</h1>

    <div class="is-row">
        <div class="is-col is-34 sidebar pub-sidebar">

        
            <p class="pub-authors">{{ .Params.authors }}</p>
            
            {{ with .Params.bestPaper }}
            <p class="pub-award">
            <i class="fal fa-trophy-alt"></i> Best Paper Award
            </p>
            {{ end }}

            {{ with .Params.honMention }}
            <p class="pub-award">
            <i class="fal fa-award"></i> Best Paper Honorable Mention
            </p>
            {{ end }}

            
            {{ with .Params.pubInfo }}
            <p class="pub-info">{{ . }}</p>
            {{ end }}
            
            <ul class="fa-ul">
        
            {{ with .Params.authorPDF }}
            <li><span class="fa-li" >
            <i class='fal fa-file-pdf'></i></span><a href="{{ . }}">Author PDF</a>
            </li>
            {{ end }}
            
            {{ with .Params.pubURL }}
            <li><span class="fa-li" >
            <i class='fal fa-external-link'></i></span><a href="{{ . }}">Definitive Version</a>
            </li>
            {{ end}}

            {{ with .Params.altURLs }}
                {{ range .}}
                <li><span class="fa-li">
                    <i class='fal fa-external-link'></i></span><a href="{{ .url }}">{{ .name }}</a>
                </span></li>
                {{ end }}
            {{ end }}
        </ul>
        </div>

        <div class="is-col is-66">
            {{ with .Content }}
                {{ . }}
            {{ end }}
        </div>

        



{{ end }}
