<!DOCTYPE html>
<html lang="en" dir="ltr">
    {{- partial "head.html" . -}}
    <body>
        <div class="page">

            <header class="header">
                {{- partial "header.html" . -}}
            </header>

            <main class="main">
                <div class="main-container {{.Title | urlize}}">
                    {{- block "main" . }}{{- end }}
                </div>
            </main>

            <footer class="footer">
                <div class="footer-container is-brand">
                {{- partial "footer.html" . -}}
                </div>
            </footer>

        </div>

        <!--  Kube JS -->
        <script src='{{"js/kube.min.js" | relURL}}'></script>
        <script>
            $K.init();
        </script>

    </body>
</html>
