{{ define "main" }}

<!-- Page Content -->
  {{ with .Content }}
      {{ . }}
  {{ end }}


<!-- List classes -->
{{ $currentQuarter := (int .Site.Params.currentQuarter) }}

<!-- Current Quarter Classes -->
<h1 class="page-title">Current Classes ({{.Site.Params.currentQuarterName}})</h1>
<p>{{.Site.Params.currentNote  | markdownify }}</p>

<div class="card-list is-row is-bricks">

    {{ $curClasses := where .Sections ".Params.quarter" $currentQuarter }}
    {{ $curClasses := $curClasses | union (where .Pages ".Params.quarter" $currentQuarter) }}
    {{ range $curClasses }}
        <div class="card is-col is-50">{{- partial "list-item-class.html" . -}}</div>
    {{ end }}

</div>


<!-- Next Quarter Classes -->


    {{ $nextQuarter := (int .Site.Params.nextQuarter) }}
    {{ $futureClasses := where .Sections ".Params.quarter" $nextQuarter }}
    {{ $futureClasses := $futureClasses | union (where .Pages ".Params.quarter" $nextQuarter) }}

    <!-- Only display next quarter classes if quarter is set -->
    {{ if $nextQuarter }}
        <h1 class="page-title">Upcoming Classes ({{.Site.Params.nextQuarterName}})</h1>
        <p>{{.Site.Params.nextNote | markdownify }}</p>
        <div class="card-list is-row is-bricks">
            {{ range $futureClasses }}
                <div class="card is-col is-50">{{- partial "list-item-class.html" . -}}</div>
            {{ end }}
        </div>
    {{ end }} 

<!-- Previous Classes -->
<h1 class="page-title">Previously Offered Classes</h1>

<div class="card-list is-row is-bricks">
    
    {{ $notCurrentClasses := where .Sections ".Params.quarter" "!=" $currentQuarter }}
    {{ $notCurrentClasses := $notCurrentClasses | union (where .Pages ".Params.quarter" "!=" $currentQuarter) }}
    {{ $notFutureClasses := where .Sections ".Params.quarter" "!=" $nextQuarter }}
    {{ $notFutureClasses := $notFutureClasses | union (where .Pages ".Params.quarter" "!=" $nextQuarter) }}
    {{ $prevClasses := $notCurrentClasses | intersect $notFutureClasses }}
    {{ range sort $prevClasses ".Params.quarter" "desc"}}
        <div class="card is-col is-50">{{- partial "list-item-class.html" . -}}</div>
    {{ end }}
        
</div>


{{ end }}
