{{ define "main" }}

<h1 class="page-title">CV + Selected Publications</h1>

    <div class="is-row">
        <div class="is-col is-34 sidebar">
            <ul class="fa-ul">

        {{ with .Site.Params.cvURL }}
        <li><span class="fa-li" ><i class="fal fa-fw fa-file-pdf fa-lg"></i></span>
            <a href="{{ . }}">Download Full CV</a></li>
        {{ end }}

        {{ with .Site.Params.googleScholar }}
        <li><span class="fa-li" ><i class="fab fa-fw fa-google fa-lg"></i></span>
            <a href="{{ . }}">Google Scholar Profile</a></li>
        {{ end }}

        {{ with .Site.Params.orcid }}
        <li><span class="fa-li" ><i class="fal fa-fw fa-database fa-lg"></i></span>
        <a href="{{ . }}">ORCID ID</a></li>
        {{ end }}

        {{ range .Page.Params.sidebarItems }}
        <li><i class='fal fa-fw {{ with .icon }}{{.}}{{ else }}{{"fa-angle-double-right"}}{{end}}'></i>
            {{ with .Permalink }}<a href="{{ . }}">{{ end }}
                {{ .name }}
                {{ with .Permalink }}</a>{{ end }}</li>
        {{ end }}

        </ul>
    </div>

    <div class="is-col is-66">

    <!-- Page Content -->
      {{ with .Content }}
          {{ . }}
      {{ end }}

    <!-- List publications -->
    {{ range  .Pages }}
        <div class="card with-margin publication">{{- partial "list-item-pub.html" . -}}</div>
    {{ end }}
    </div>
</div>

{{ end }}
