{{ define "main" }}

{{ with .Page.Params.title }}
<h1 class="page-title">{{.}}</h1>
{{ end }}

<div class="is-row">
    
    
    <div class="is-col is-66">
        {{ with .Content }}
            {{ . }}
        {{ end }}
    </div>
    
    <div class="is-col is-34 sidebar">
            <h4><strong>{{ .Site.Params.currentQuarterName }} Office Hours</strong></h4>
        
        <ul class="fa-ul">
            {{ .Site.Params.officeHours | markdownify }}
        </ul>
    </div>
    
</div>

{{ end }}


