
{{ with .name }}
</ul>
    <h4 class="multi-section-header">{{ . }}: </h4>
<ul class="fa-ul">
{{ end }}



{{ with .meetings }}
     <li><span class="fa-li" ><i class='fal fa-fw fa-clock'></i></span>
         {{ . }}</li>
 {{ end }}

 {{ with .location }}
     <li><span class="fa-li" ><i class='fal fa-fw fa-map-marker-alt'></i></span>
        {{ . | markdownify }}</li>
 {{ end }}

