
<div class="is-bar is-row is-gapless">
{{ with .name }}
    <div class="is-col">{{ . }}: </div>
{{ end }}

{{ with .meetings }}
    <div class="is-col"><i class='fal fa-fw fa-clock'></i>
        {{ . }}</div>
{{ end }}
{{ with .location }}
    <div class="is-col"><i class='fal fa-fw fa-map-marker-alt'></i>
        {{ . | markdownify}}</div>
{{ end }}
</div>