<h1>{{ .Site.Title }}</h1>
<div class="is-row">
    <div class="is-col is-66">
        {{ .Site.Params.shortBio | markdownify }}
    </div>

    <div class="is-col is-34">
        <h4><strong>{{ .Site.Params.currentQuarterName }} Office Hours</strong></h4>
        {{ .Site.Params.officeHours | markdownify }}
    </div>

</div>
<p class="credits">Created with <a href="https://gohugo.io/">Hugo</a>, <a href="http://kube7.imperavi.com/">Kube</a>, and <a href="https://fonts.google.com/">Google Fonts</a>. Available on <a href="https://gitlab.com/el-ee/harmon8-hugo">gitlab</a>.</p>
