<div class="is-navbar-container">

    <div class="is-brand">
        <h1><a href='{{ "/" | relURL}}'>{{ .Site.Title }}</a></h1>
        <!-- nav toggle element -->
        <a href="#"
                class="nav-toggle is-push-right-mobile is-shown-mobile icon-kube-menu"
                data-kube="toggle"
                data-target="#navbar-main"></a>
    </div>

    <!-- collapsable navigation -->
    <div id="navbar-main" class="is-navbar is-hidden-mobile">
        <nav class="is-push-right">
            <ul>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{end}}"><a  href="{{ .Page.Permalink }}" title="{{ .Title }}">
                    {{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>
    </div>

</div>
