<div class="card-header">
    <!-- <p class="card-divider">- </p> -->
    <h3><a href="{{ .RelPermalink }}">{{ .Params.title }}</a></h3>
    <p>{{ .Params.authors }}</p> 
    
    
</div>
<div class="card-body">      
         
</div>
<div class="card-footer">
    {{ with .Params.pubInfo }}
        <p class="pub-info">
            
            {{ . }}
            
            {{ with $.Params.bestPaper }}
            <span class="pub-award">
            &nbsp;<i class="fal fa-trophy-alt"></i> Best Paper Award
            </span>
            {{ end }}

            {{ with $.Params.honMention }}
            <span class="pub-award">
            &nbsp;<i class="fal fa-award"></i> Best Paper Honorable Mention
            </span>
            {{ end }}
            
            </p>
    {{ end }}
    
    <ul class="is-bar pub-links">
        {{ with .Params.authorPDF }}
        <li>
        <a href="{{ . }}"><i class='fal fa-file-pdf'></i>Author PDF</a>
        </li>
        {{ end }}
        
        {{ with .Params.pubURL }}
        <li>
        <a href="{{ . }}"><i class='fal fa-external-link'></i>Definitive Version</a>
        </li>
        {{ end}}

        {{ with .Params.altURLs }}
        {{ range .}}
        <li>
            <a href="{{ .url }}"><i class='fal fa-external-link'></i>{{ .name }}</a>
        </li>
        {{ end }}
    {{ end }}

    </ul>
</div> 