<div class="card-header">
    <!-- <p class="card-divider">- </p> -->
    <h3><a href="{{ .RelPermalink }}">{{ .Params.courseNumber }}: {{ .Params.courseTitle }}</a></h3>
    <h4 class="quarter-note">{{- partial "quarter-note.html" . -}}</h4>
</div>
<div class="card-body">
    {{ with .Params.shortDescription }}
        {{ .  | markdownify }}
    {{ else }}
        <p>{{ .Summary }}</p>
    {{ end }}       
</div>
<div class="card-footer">

         {{ with .Params.multisection }}
            {{ range . }}
                {{- partial "class-meetings.html" . -}}
            {{ end }}
         {{ end }}
        
        {{ if or (isset .Params "meetings") (isset .Params "location") }} 
            {{- partial "class-meetings.html" .Params -}}
        {{ end }}
        
</div> 