{{ $currentQuarter := (int .Site.Params.currentQuarter) }}
{{ $classQuarter := (int .Page.Params.quarter)}}

<!-- Check if Old -->
{{ with (lt $classQuarter $currentQuarter) }}
    <p class="warning">This page is about a class offered in a previous quarter. 
        It is not current.</p>
{{ end }}

<!-- Check if Future -->
{{ with (gt $classQuarter $currentQuarter) }}
    <p class="warning">This page is about a class to be offered in a future quarter.
        It is not current.</p>
{{ end }}

<!-- Check if tentative -->
{{ with .Page.Params.tentative }}
<p class="warning">This page is still under construction. 
    <strong>All information is subject to change without notice.</strong></p>
{{ end }}
