{{ define "main" }}

<h1 class="page-title">{{ .Page.Params.coursetitle }}</h1>

{{- partial "status-warnings.html" . -}}

    <div class="is-row">
        <div class="is-col is-34 sidebar">
            
            <!-- Class Main Menu -->
            <div id="class-menu"><ul class="fa-ul">

                <li><h3><span class="fa-li" ><i class='fal fa-fw fa-school'></i></span>
                <a href="#">{{ .Page.Params.coursenumber }}</a></h3></li>
                
                <li><h4 class="quarter-note">{{- partial "quarter-note.html" . -}}</h4></li>
            
                    
                {{ with .Params.multisection }}
                   {{ range . }}
                       {{- partial "class-meetings-sidebar.html" . -}}
                   {{ end }}
               </ul>
               <h4>Course Menu</h4>
               <ul class="fa-ul">
                {{ end }}
               
               {{ if or (isset .Params "meetings") (isset .Params "location") }} 
                   {{- partial "class-meetings-sidebar.html" .Params -}}
               {{ end }}
               
              
                {{ range .Page.Params.sidebaritems }}

                    <li><span class="fa-li" >
                        <i class='fal {{ with .icon }}{{.}}{{ else }}{{"fa-angle-double-right"}}{{end}}'></i>
                    </span>
                    {{ with .Permalink }}<a href="{{ . }}">{{ end }}
                        {{ .name }}
                    {{ with .Permalink }}</a>{{ end }}</li>

                {{ end }}

                {{ range .Pages }}
                    <li><span class="fa-li" >
                        <i class='fal {{ with .Params.icon }}{{.}}{{ else }}{{"fa-angle-double-right"}}{{end}}'></i>
                    </span>
                    <a href="{{.Permalink}}">{{.Title}}</a></li>
                {{ end }}
            </ul></div>
        
            <!--  Office Hours-->
            <div id="office-hours-menu">
                <h4>Office Hours</h4>
                <p>{{ .Site.Params.officeHours | markdownify }}</p>
            </div>
            
            <!--  Page TOC -->
            <div id="toc-wrapper">
                <h3>On This Page:</h3>
                <div>   
                    {{.TableOfContents}}
                </div>
            </div>
        
        </div>

        <div class="is-col is-66">
            {{ with .Content }}
                {{ . }}
            {{ end }}
        </div>

{{ end }}
