{{ define "main" }}

<h1 class="page-title">Hello. This page has gone missing.</h1>

<p>Go back <a href="{{ "/" | relURL }}">Home</a>?</p>
     
<p><a href="mailto:harmon8@pdx.edu">Let me know somethign is broken.</a></p>

{{ end }}