{{ define "main" }}



<h1 class="page-title">Hello.</h1>

<div class="is-row">

    <div class="is-col is-66">

        {{ with .Content }}
            {{ . }}
        {{ end }}

        <!-- {{ with .Site.GetPage "section" "projects" }} -->
            <!-- TODO: how to test if range exists first -->
            <!-- <h2>Current Projects</h2>

            {{ range where (where .Pages "Section" "projects") ".Params.featured" true }}
                <div class="card with-margin">{{- partial "list-item-pub.html" . -}}</div>
            {{ end }}
            <p><a href='{{ "/projects/" | relURL}}'>More Projects >> </a></p>
        {{end}} -->

        {{ with .Site.GetPage "section" "research" }}
        <!-- TODO: how to test if range exists first  -->
        <h2>Recent Publications</h2>

        {{ range first 3 (where (where .Pages "Section" "research") ".Params.featured" true) }}
            <div class="card with-margin publication">{{- partial "list-item-pub.html" . -}}</div>
        {{ end }}

        <p class="more-link"><a href='{{ "/research/" | relURL}}'>... More Publications</a></p>
        {{ end }}
    </div>

    <div class="is-col is-33 sidebar">

        {{ $currentQuarter := (int .Site.Params.currentQuarter) }}

        <!-- Current Quarter Classes -->
        <h2>{{ .Site.Params.currentQuarterName }}</h2>
        <p>{{.Site.Params.currentNote  | markdownify }}</p>

        <ul class="fa-ul">    
            <!--  Full Directories -->
            {{ range where .Sections "Section" "classes"}}
            {{ range where .Sections ".Params.quarter" $currentQuarter }}
            <li><span class="fa-li" ><i class="fal fa-books"></i></span>
                <a href="{{ .RelPermalink }}">
                {{ .Params.courseNumber }}: {{ .Params.courseTitle }}</a></li>

            {{ end }}
            {{ end }}

            <!-- Single Pages -->
            {{ range where (where (where .Pages ".Params.layout" "class-home") .Pages "Section" "classes") ".Params.quarter" $currentQuarter }}

            <li><span class="fa-li" ><i class="fal fa-books"></i></span>
                <a href="{{ .RelPermalink }}">
                {{ .Params.courseNumber }}: {{ .Params.courseTitle }}</a></li>

            {{ end }}

        </ul>


<!--  NEXT QUARTER STARTS HERE -->

    {{ $nextQuarter := (int .Site.Params.nextQuarter) }}

    {{ if $nextQuarter }}

    <!-- Future Quarter Classes -->
    <h2>{{ .Site.Params.nextQuarterName }}</h2> 
    <p>{{.Site.Params.nextNote | markdownify }}</p>
    
    <ul class="fa-ul">

        <!--  Full Directories -->
        {{ range where .Sections "Section" "classes"}}
        {{ range where .Sections ".Params.quarter" $nextQuarter }}
        <li><span class="fa-li" ><i class="fal fa-books"></i></span>
            <a href="{{ .RelPermalink }}">
            {{ .Params.courseNumber }}: {{ .Params.courseTitle }}</a></li>
        {{ end }}
        {{ end }}

        <!-- Single Pages -->
        {{ range where (where (where .Pages ".Params.layout" "class-home") .Pages "Section" "classes") ".Params.quarter" $nextQuarter }}
        <li><span class="fa-li" ><i class="fal fa-books"></i></span>
            <a href="{{ .RelPermalink }}">
            {{ .Params.courseNumber }}: {{ .Params.courseTitle }}</a></li>
        {{ end }}

    </ul>

    {{end}}
<!--  NEXT QUARTER ENDS HERE -->


        <p class="more-link"><a href='{{ "/classes/" | relURL}}'>... More Classes</a></p>

    </div>


</div>

{{ end }}
