{{ define "main" }}

<h1 class="page-title">{{ .Page.Params.courseTitle }}</h1>

{{- partial "status-warnings.html" . -}}

    <div class="is-row">
        <div class="is-col is-34 sidebar">

            <ul class="fa-ul">

            <li><h3><span class="fa-li" ><i class='fal fa-fw fa-school'></i></span>
                <a href="#">{{ .Page.Params.coursenumber }}</a></h3></li>
                
                
            <li><h4 class="quarter-note">{{- partial "quarter-note.html" . -}}</h4></li>

            {{ with .Page.Params.meetings }}
            <li><span class="fa-li" ><i class='fal fa-fw fa-clock'></i></span>
                {{ . }}</li>
            {{ end }}

            {{ with .Page.Params.location }}
            <li><span class="fa-li" ><i class='fal fa-fw fa-map-marker-alt'></i></span>
                {{ . | markdownify }}</li>
            {{ end }}

            {{ range .Page.Params.sidebarItems }}

            <li><span class="fa-li" >
                <i class='fal {{ with .icon }}{{.}}{{ else }}{{"fa-angle-double-right"}}{{end}}'></i>
            </span>
                {{ with .Permalink }}<a href="{{ . }}">{{ end }}
                    {{ .name }}
                    {{ with .Permalink }}</a>{{ end }}</li>

            {{ end }}
            </ul>
        </div>

        <div class="is-col is-66">
            {{ with .Content }}
                {{ . }}
            {{ end }}
        </div>

{{ end }}
